<template>
  <b-alert
    class="alert"
    variant="warning"
    dismissible
    show>{{ data.error }}</b-alert>
</template>

<script src="./script.js" ></script>
<style src="./style.scss" scoped ></style>
