<template>
    <b-row align-h="center">
        <b-col cols="6">
          <h3>Users</h3>
          <b-list-group>
            <UserListItem v-for="user in users" v-bind:key="user.id" :user="user" />
          </b-list-group>
          <div class="free-btn-container">
            <b-button class="free-btn" v-on:click="freeApplesHandler" size="lg" variant="success" >
                Free Apples
            </b-button>
          </div>
        </b-col>
        <b-col cols="6">
          <h3>Basket</h3>
          <Basket/>
        </b-col>
    </b-row>
</template>

<script src="./script.js" ></script>
<style src="./style.scss" scoped ></style>
