.product {
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
  width: 400px;
}
.title {
  color: #312377;
}
.price {
  float: right;
}
.product-container {
  margin-bottom: 50px;
}


.free-btn-container {
  display: flex;
  justify-content: center;
}