@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';

.header {
  margin-bottom: 20px;
}

.list-group {
  margin-bottom: 20px;
}

body {
  background-color: #f2f2f2;
}

h3 {
  color: #95a5a6;
  font-weight: 400;
}