<template>
  <div class="app">
    <div class="header">
      <b-navbar toggleable="md" type="dark" variant="info">
        <b-navbar-brand href="#">Demo App</b-navbar-brand>
        <b-collapse is-nav id="nav_collapse">
          <b-navbar-nav>
            <b-nav-item to="/" exact>Home</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <b-container>
      <router-view></router-view>
    </b-container>
    <AppAlert
      v-for="(error, index) in getErrors"
      v-bind:key="`err-${index}`"
      :data="error" ></AppAlert>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Home from '@/pages/Home/Home';
import AppAlert from '@/components/AppAlert/AppAlert';

export default {
  name: 'App',
  computed: {
    ...mapGetters([
      'getErrors',
    ]),
  },
  components: {
    Home,
    AppAlert,
  },
};
</script>

<style src="./app.scss"></style>
