<template>
  <b-list-group-item class="user-list-item" >
    <span class="description">
      {{ user.name }} has {{ user.apples.length }} apples
    </span>
    <b-button
      class="grab-btn"
      v-on:click="grab(user.id)"
      variant="danger"
      size="sm"
      :disabled="isEmptyBasket"
    >Grab apple</b-button>
  </b-list-group-item>
</template>

<script src="./script.js" ></script>
<style src="./style.scss" scoped ></style>
