<template>
  <b-list-group>
    <b-list-group-item v-for="(item, index) in basket" v-bind:key="`item-${index}`" >
      {{ item }}
    </b-list-group-item>
  </b-list-group>
</template>

<script src="./script.js" ></script>
<style src="./style.scss" scoped ></style>
